* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   color: #464646;
}

.container {
   margin: 0 auto;
   width: 40%;
}

img {
   width: 100%;
}

/* ------------ */
/*  NAVIGATION  */
/* ------------ */

nav {
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   padding: 25px 0;
   border-bottom: 1px solid #ebebeb;
}

.nav-buttons {
   display: grid;
   grid-template-columns: 1fr 1fr 3fr 2fr;
   gap: 10px;
   align-items: center;
   margin-right: 10px;
}

.svg {
   border: none;
   cursor: pointer;
   background-color: #e9e9e9;
   color: #727272;
   border-radius: 100px;
   width: 40px;
   padding: 9px;
   transition: 0.3s;
}

.svg:hover {
   background-color: #c9c9c9;
}

.plus {
   color: #fff;
   background-color: #67bdfc;
   width: 20px;
   padding: 0;
}

.plus:hover {
   background-color: #67bdfc;
}

.btn-sub {
   font-size: 16px;
   color: #fff;
   background-color: #67bdfc;
   border-radius: 7px;
   border: none;
   padding: 10px 15px;
   padding-left: 20px;
   display: flex;
   align-items: center;
   gap: 8px;
   cursor: pointer;
}

.btn-sign {
   padding: 10px 20px;
}

.btn-sign:link {
   font-size: 16px;
}

h1 {
   justify-self: center;
   font-weight: 800;
   letter-spacing: 0.3px;
   transform: scale(1, 0.97);
}

a {
   color: #3a3a3a;
}

a:link {
   text-decoration: none;
   font-size: 28px;
}

nav div {
   justify-self: end;
}

/* NAV ANCHORS */

.nav-anchors {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-bottom: 24px;
   border-bottom: 1px solid #ebebeb;
}

.nav-anchors a {
   display: inline-block;
   font-size: 14px;
   padding: 15px 10px;
   letter-spacing: 0.3px;
}

.nav-anchors a:hover {
   background-color: #f5f5f5;
}

.nav-anchors a:last-child {
   border-bottom: 2px solid #67bdfc;
   color: #67bdfc;
   font-weight: bold;
}

/* ----------- */
/*  CONTAINER  */
/* ----------- */

.container {
   display: flex;
   flex-direction: column;
   gap: 30px;
   letter-spacing: 0.4px;
}

.text h1 {
   font-size: 44px;
   margin-top: 50px;
   margin-bottom: 20px;
}

h2 {
   font-size: 30px;
   margin-bottom: 20px;
}

.text p {
   font-family: serif;
   font-size: 20px;
   margin-bottom: 50px;
   line-height: 30px;
}

.text p a {
   font-size: 20px;
   text-decoration: underline;
}

.text span {
   display: inline-block;
   font-family: serif;
   font-size: 20px;
   margin-bottom: 40px;
   line-height: 30px;
   margin-bottom: 15px;
}

.user-info {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #dfdfdf;
   border-radius: 12px;
   padding: 25px;
}

.user-info img {
   width: 10%;
}

.user-info h3 {
   font-size: 26px;
   margin-bottom: 5px;
   margin-top: 10px;
}

.user-info span {
   display: inline-block;
   margin-bottom: 20px;
}

.input-sub {
   display: flex;
}

.input-sub input {
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
   border: 1px solid #67bdfc;
   padding: 10px 15px;
   width: 100%;
   font-size: 16px;
}

.input-sub input::placeholder {
   color: #c2c2c2;
}

.input-sub button {
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   border: none;
   color: #fff;
   padding: 10px 20px;
   font-size: 14px;
   background-color: #67bdfc;
   cursor: pointer;
}

.h2-people {
   margin-bottom: 0;
   margin-top: 40px;
}

.user {
   width: 50%;
   border: 1px solid #dfdfdf;
   border-radius: 12px;
   margin-bottom: 40px;
}

.user img {
   width: 20%;
   margin: 10px 10px;
}

.user div {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 15px;
   margin-left: 15px;
}

.h3-svg {
   width: 6%;
   background-color: #dbdbdb;
   border-radius: 15px;
   padding: 3px;
}

/* -------- */
/*  FOOTER  */
/* -------- */

footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   padding: 40px;
   color: #999999;
   background-color: rgb(248, 248, 248);
   border-top: 1px solid #e2e2e2;
}

.footer-links a {
   font-size: 14px;
   color: #999999;
   text-decoration: underline;
}

.footer-btns {
   display: flex;
   gap: 10px;
}

.footer-btns button {
   font-size: 14px;
   font-weight: 600;
   letter-spacing: 0.7px;
   padding: 10px 15px;
   color: #868686;
   background-color: #fff;
   border: 1px solid #e2e2e2;
   border-radius: 6px;
   transition: 0.3s;
}

.footer-btn button {
   display: flex;
   align-items: center;
   gap: 10px;
}

.footer-svg {
   width: 20px;
}

.footer-btns button:hover {
   background-color: #3d3d3d;
   color: #c7c7c7;
   cursor: pointer;
}

footer p {
   font-size: 14px;
}

footer p span {
   text-decoration: underline;
   cursor: pointer;
}
